<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#DisableDrivers</key>
	<array>
		<string>_NOT_SHOWN_</string>
	</array>
	<key>ACPI</key>
	<dict>
		<key>#Sorted ACPI tables Count</key>
		<integer>0</integer>
		<key>#SortedOrder</key>
		<array/>
		<key>DSDT</key>
		<dict>
			<key>#Patches count</key>
			<integer>829030400</integer>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<dict>
				<key>ATI</key>
				<false/>
				<key>Firewire</key>
				<false/>
				<key>HDA</key>
				<false/>
				<key>HDMI</key>
				<false/>
				<key>IDE</key>
				<false/>
				<key>IntelGFX</key>
				<false/>
				<key>LAN</key>
				<false/>
				<key>LPC</key>
				<false/>
				<key>NVidia</key>
				<false/>
				<key>SATA</key>
				<false/>
				<key>SmBUS</key>
				<false/>
				<key>USB</key>
				<false/>
				<key>WIFI</key>
				<false/>
			</dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<false/>
				<key>AddHDMI_8000000</key>
				<false/>
				<key>AddIMEI_80000</key>
				<false/>
				<key>AddMCHC_0008</key>
				<false/>
				<key>AddPNLF_1000000</key>
				<false/>
				<key>DeleteUnused_400000</key>
				<false/>
				<key>FIX_ACST_4000000</key>
				<false/>
				<key>FIX_ADP1_800000</key>
				<false/>
				<key>FIX_INTELGFX_100000</key>
				<false/>
				<key>FIX_RTC_20000</key>
				<false/>
				<key>FIX_S3D_2000000</key>
				<false/>
				<key>FIX_TMR_40000</key>
				<false/>
				<key>FIX_WAK_200000</key>
				<false/>
				<key>FakeLPC_0020</key>
				<false/>
				<key>FixAirport_4000</key>
				<false/>
				<key>FixDarwin7_10000</key>
				<false/>
				<key>FixDarwin_0002</key>
				<false/>
				<key>FixDisplay_0100</key>
				<false/>
				<key>FixFirewire_0800</key>
				<false/>
				<key>FixHDA_8000</key>
				<false/>
				<key>FixHPET_0010</key>
				<false/>
				<key>FixHeaders_20000000</key>
				<false/>
				<key>FixIDE_0200</key>
				<false/>
				<key>FixIPIC_0040</key>
				<false/>
				<key>FixLAN_2000</key>
				<false/>
				<key>FixRegions_10000000</key>
				<false/>
				<key>FixSATA_0400</key>
				<false/>
				<key>FixSBUS_0080</key>
				<false/>
				<key>FixShutdown_0004</key>
				<false/>
				<key>FixUSB_1000</key>
				<false/>
			</dict>
			<key>Name</key>
			<string></string>
			<key>Patches</key>
			<array>
				<dict>
					<key>#Find</key>
					<string>_NOT_SHOWN_</string>
					<key>#Replace</key>
					<string>_NOT_SHOWN_</string>
					<key>Comment</key>
					<string>This is for sample</string>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
			<key>Rtc8Allowed</key>
			<false/>
			<key>SuspendOverride</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>#Length</key>
				<integer>0</integer>
				<key>#Signature</key>
				<string>_NOT_SHOWN_</string>
				<key>#TableId</key>
				<string>_NOT_SHOWN_</string>
			</dict>
		</array>
		<key>HaltEnabler</key>
		<false/>
		<key>PatchAPIC</key>
		<false/>
		<key>ResetAddress</key>
		<string>0x80000000000000</string>
		<key>ResetValue</key>
		<string>0x0000</string>
		<key>SSDT</key>
		<dict>
			<key>#C3Latency</key>
			<integer>0</integer>
			<key>#DoubleFirstState</key>
			<false/>
			<key>#EnableC2</key>
			<false/>
			<key>#EnableC4</key>
			<false/>
			<key>#EnableC6</key>
			<false/>
			<key>#EnableC7</key>
			<false/>
			<key>#MaxMultiplier</key>
			<integer>0</integer>
			<key>#MinMultiplier</key>
			<integer>0</integer>
			<key>#PLimitDict</key>
			<integer>0</integer>
			<key>#PluginType</key>
			<integer>0</integer>
			<key>#UnderVoltStep</key>
			<integer>0</integer>
			<key>#UseSystemIO</key>
			<false/>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
		<key>smartUPS</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#CustomLogo</key>
		<string>_NOT_SHOWN_</string>
		<key>#LegacyBiosDefaultEntry</key>
		<integer>0</integer>
		<key>#NeverHibernate</key>
		<false/>
		<key>#StrictHibernate</key>
		<false/>
		<key>#Timeout</key>
		<string>_NOT_SHOWN_</string>
		<key>Arguments</key>
		<string></string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>氱c</string>
		<key>DefaultVolume</key>
		<string></string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Fast</key>
		<false/>
		<key>Legacy</key>
		<string></string>
		<key>NeverDoRecovery</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<true/>
		<key>XMPDetection</key>
		<integer>-1</integer>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>DefaultBackgroundColor</key>
		<string>0x0100</string>
		<key>EFILoginHiDPI</key>
		<integer>0</integer>
		<key>UIScale</key>
		<integer>0</integer>
		<key>flagstate</key>
		<integer>0</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>99780</integer>
		<key>#HWPEnable</key>
		<false/>
		<key>#HWPValue</key>
		<integer>0</integer>
		<key>#QEMU</key>
		<false/>
		<key>#TDP</key>
		<false/>
		<key>#TurboDisable</key>
		<false/>
		<key>#UseARTFrequency</key>
		<false/>
		<key>EnabledCores</key>
		<integer>4</integer>
		<key>FrequencyMHz</key>
		<integer>1796</integer>
		<key>QPI</key>
		<integer>0</integer>
		<key>SavingMode</key>
		<integer>0</integer>
		<key>Type</key>
		<string>0x0605</string>
	</dict>
	<key>ConfigName</key>
	<string></string>
	<key>Devices</key>
	<dict>
		<key>#AddProperties</key>
		<array>
			<dict>
				<key>#Device</key>
				<string>XXX</string>
				<key>#Key</key>
				<string>AAPL,XXX</string>
				<key>#Value</key>
				<string>0xffff</string>
			</dict>
		</array>
		<key>#Inject</key>
		<false/>
		<key>#IntelMaxValue</key>
		<integer>0</integer>
		<key>#NoDefaultProperties</key>
		<false/>
		<key>#Properties</key>
		<string>_NOT_SHOWN_</string>
		<key>#SetIntelBacklight</key>
		<false/>
		<key>#SetIntelMaxBacklight</key>
		<true/>
		<key>Audio</key>
		<dict>
			<key>#Inject</key>
			<false/>
			<key>#ResetHDA</key>
			<false/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x07000000</string>
			<key>IMEI</key>
			<string>0x0000</string>
			<key>IntelGFX</key>
			<string>0x01000100</string>
			<key>LAN</key>
			<string>0x0000</string>
			<key>NVidia</key>
			<string>0x00326581</string>
			<key>SATA</key>
			<string>0x0000</string>
			<key>WIFI</key>
			<string>0x0000</string>
			<key>XHCI</key>
			<string>0x0000</string>
		</dict>
		<key>ForceHPET</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>#Hide</key>
		<array>
			<string>VolumeName_NOT_SHOWN</string>
			<string>VolumeUUID_NOT_SHOWN</string>
			<string>EntryPath_NOT_SHOWN</string>
		</array>
		<key>#Language</key>
		<string></string>
		<key>#Theme</key>
		<string>embedded</string>
		<key>Custom</key>
		<dict>
			<key>Comment</key>
			<string>These values wrong, they present for sample</string>
			<key>Entries</key>
			<array>
				<dict>
					<key>#AddArguments</key>
					<string>-v</string>
					<key>#Arguments</key>
					<string>_NOT_SHOWN_</string>
					<key>#Disabled</key>
					<true/>
					<key>#FullTitle</key>
					<string>_NOT_SHOWN_</string>
					<key>#Hidden</key>
					<true/>
					<key>#Hotkey</key>
					<string>_NOT_SHOWN_</string>
					<key>#Image</key>
					<string>_NOT_SHOWN_</string>
					<key>#InjectKexts</key>
					<true/>
					<key>#NoCaches</key>
					<false/>
					<key>#Path</key>
					<string>_NOT_SHOWN_</string>
					<key>#Title</key>
					<string>_NOT_SHOWN_</string>
					<key>#Type</key>
					<string>_NOT_SHOWN_</string>
					<key>#Volume</key>
					<string>VolumeUUID_NOT_SHOWN</string>
					<key>Comment</key>
					<string>These values wrong, they present for sample</string>
					<key>SubEntries</key>
					<array>
						<dict>
							<key>#AddArguments</key>
							<string>_NOT_SHOWN_</string>
							<key>#Title</key>
							<string>_NOT_SHOWN_</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>Legacy</key>
			<array>
				<dict>
					<key>#Disabled</key>
					<true/>
					<key>#Hidden</key>
					<true/>
					<key>#Hotkey</key>
					<string>_NOT_SHOWN_</string>
					<key>#Title</key>
					<string>_NOT_SHOWN_</string>
					<key>#Type</key>
					<string>_NOT_SHOWN_</string>
					<key>#Volume</key>
					<string>VolumeUUID_NOT_SHOWN</string>
				</dict>
			</array>
			<key>Tool</key>
			<array>
				<dict>
					<key>#Arguments</key>
					<string>_NOT_SHOWN_</string>
					<key>#Disabled</key>
					<true/>
					<key>#Hidden</key>
					<true/>
					<key>#Hotkey</key>
					<string>_NOT_SHOWN_</string>
					<key>#Path</key>
					<string>_NOT_SHOWN_</string>
					<key>#Title</key>
					<string>_NOT_SHOWN_</string>
					<key>#Type</key>
					<string>_NOT_SHOWN_</string>
					<key>#Volume</key>
					<string>VolumeUUID_NOT_SHOWN</string>
				</dict>
			</array>
		</dict>
		<key>CustomIcons</key>
		<false/>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>0</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>#Entries</key>
			<true/>
			<key>#Legacy</key>
			<true/>
			<key>#Tool</key>
			<true/>
			<key>Comment</key>
			<string>These values wrong, they present for sample</string>
		</dict>
		<key>TextOnly</key>
		<false/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#PatchVBiosBytes</key>
		<array>
			<dict>
				<key>#Find</key>
				<string>_NOT_SHOWN_</string>
				<key>#Replace</key>
				<string>_NOT_SHOWN_</string>
			</dict>
		</array>
		<key>#PatchVBiosBytes Count</key>
		<integer>0</integer>
		<key>DualLink</key>
		<integer>4294901763</integer>
		<key>EDID</key>
		<dict>
			<key>#Custom</key>
			<string>_NOT_SHOWN_</string>
			<key>#ProductID</key>
			<string>0x0000</string>
			<key>#VendorID</key>
			<string>0x0000</string>
			<key>Inject</key>
			<false/>
		</dict>
		<key>FBName</key>
		<string></string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
		<key>NVCAP</key>
		<string>0000000000000000000000000000000000000000</string>
		<key>NvidiaGeneric</key>
		<false/>
		<key>NvidiaNoEFI</key>
		<false/>
		<key>NvidiaSingle</key>
		<false/>
		<key>PatchVBios</key>
		<false/>
		<key>VRAM</key>
		<integer>0</integer>
		<key>VideoPorts</key>
		<integer>0</integer>
		<key>display-cfg</key>
		<string>0000000000000000</string>
		<key>ig-platform-id</key>
		<string>0x00040100</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>#Debug</key>
		<false/>
		<key>#FakeCPUID</key>
		<string>0x0000</string>
		<key>#KextsToPatch</key>
		<array>
			<dict>
				<key>#Find</key>
				<string>_NOT_SHOWN_</string>
				<key>#MatchBuild</key>
				<string>16D1111</string>
				<key>#MatchOS</key>
				<string>10.11.6,10.12.x</string>
				<key>#Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>#Replace</key>
				<string>_NOT_SHOWN_</string>
				<key>Comment</key>
				<string>this is a sample</string>
				<key>Disabled</key>
				<true/>
			</dict>
		</array>
		<key>#Number of KextsToPatch</key>
		<integer>0</integer>
		<key>#Number of Patchs To Kernel</key>
		<integer>0</integer>
		<key>AppleRTC</key>
		<false/>
		<key>AsusAICPUPM</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelIvyXCPM</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>#MLB</key>
		<string>C02140302D5DMT31M</string>
		<key>#ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x0000</string>
		<key>CsrActiveConfig</key>
		<string>0x0000</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>#Slots</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>there is a sample</string>
				<key>Device</key>
				<string>WIFI</string>
				<key>ID</key>
				<integer>5</integer>
				<key>Name</key>
				<string>Airport</string>
				<key>Type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>BiosReleaseDate</key>
		<string>08/21/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM142.88Z.0123.B00.1708211454</string>
		<key>Board-ID</key>
		<string>Mac-27ADBB7B4CEE8E61</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02140302D5DMT31M</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>iMac14,2</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x000d</string>
		<key>Family</key>
		<string>iMac</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>OEMBoard</key>
		<string>8486</string>
		<key>OEMProduct</key>
		<string>HP Pavilion x360 Convertible 14-cd0xxx</string>
		<key>OEMVendor</key>
		<string>HP</string>
		<key>PlatformFeature</key>
		<string>0x0000</string>
		<key>ProductName</key>
		<string>iMac14,2</string>
		<key>SerialNumber</key>
		<string>D25LHACKF8JC</string>
		<key>SmUUID</key>
		<string>16cd5c7a-e36f-e811-9c82-7440bb139653</string>
		<key>Trust</key>
		<false/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#InjectKexts</key>
		<string>Detect</string>
		<key>BacklightLevel</key>
		<string>0x0000</string>
		<key>CustomUUID</key>
		<string></string>
		<key>InjectSystemID</key>
		<false/>
		<key>NvidiaWeb</key>
		<false/>
	</dict>
</dict>
</plist>
