<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>IOGraphics</string>
	<key>BuildVersion</key>
	<string>129</string>
	<key>CFBundleShortVersionString</key>
	<string>530.51</string>
	<key>CFBundleVersion</key>
	<string>530.51</string>
	<key>ProjectName</key>
	<string>IOGraphics</string>
	<key>SourceVersion</key>
	<string>530060000000000</string>
</dict>
</plist>
